@import url("https://use.typekit.net/jkh1hzt.css");

:root {

  /* ====== ROOT COLORS & FONTS ====== */
  --lgt-cream: #f5ebd8;
  --drk-green: #545b37;
  --blue: #43859c;
  --yellow: #efc152;
  --orange: #dc9364;
  --lgt-green: #b0bba2;
  --fisterra: "fisterra-morte", sans-serif;
  --antartican: "antarctican-headline", sans-serif;
  --accent-color: #efc152;
  --base-color: #f5ebd8;
  --text-color: black;
  --select-color: #b2b2b2;
  --input-color: #b0bba2;
}
html {
  font-family: "antarctican-headline", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12pt;
  color: var(--text-color);
  text-align: center;
}
body {
  min-height: 100vh;
  background-image: url(../images/logo-r.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  overflow: hidden;
  margin: 0;
  background-color: var(--base-color);
}
.wrapper {
  /* is this a necessary line of code? */
  box-sizing: border-box;
  height: 100vh;
  /* applies for which ever value is bigger */
  width: max(40%, 600px);
  padding: 10px;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--accent-color);
  font-family: var(--fisterra);
}
form {
  width: min(400px, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: "antarctican-headline", sans-serif;
  font-size: 12pt;
}
form > div {
  /* style applies to direct child of form */
  width: 100%;
  display: flex;
  justify-content: center;
}
form label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form label i {
  /* background-color: var(--accent-color); */
  color: white;
}
form input {
  box-sizing: border-box;
  /* allows for responsive resizing of the element */
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--base-color);
  background-color: var(--base-color);
  border-left: none;
  transition: 150ms ease;
}
form input:hover {
  border: 2px solid var(--accent-color);
}
form input:focus {
  outline: none;
  border-color: var(--select-color);
}
/* selecting the parent div for where the input focus is applied and select the label for the direct child */
div:has(input:focus) > label {
  background-color: var(--select-color);
}
form button {
  border: none;
  border-radius: 25px;
  padding: 0.85em 2.5em;
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--accent-color);
  color: white;
  transition: 150ms ease;
  width: 100%;
  max-width: 400px;
}
form button:hover {
  background-color: var(--text-color);
}
form button:focus {
  border: none;
  background-color: var(--text-color);
}
a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover {
  text-decoration: underline;
}

/* adds responsive design for wrapper */
@media (max-width: 1100px) {
  .wrapper {
    width: min(600px, 100%);
    border-radius: 0;
  }
}
/* style class for when there is an incorrect form entry */
form div.incorrect label {
  background-color: #f06272;
}
form div.incorrect input {
  border-color: #f06272;
}
#error-message {
  padding-bottom: 10px;
  color: #f06272;
  margin: 0;
  min-height: 0;
}