/* ===== Base ===== */
body {
  font-family: var(--antartican);
  color: #1a1a1a;
  background: var(--lgt-cream);
  line-height: 1.5;
  margin: 0;
}

.container {
  margin: 4rem auto 2rem;
  text-align: center;
}

/* ===== Hero ===== */
.confirm__hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: .5rem;
  line-height: 3.2rem;
  color: var(--drk-green);
}

.confirm__hero h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 3.2rem;
  color: var(--drk-green);
}


.confirm__hero p {
  font-size: 1.3rem;
  font-weight: 500;
}

/* ===== Order Card ===== */
.oc-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.order-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  border-radius: 1rem;
  padding: 2rem 2rem;
  border: black solid 2px;
  width: 60vw;
}

.order-card__meta {
  text-align: left;
}

.order-card__title {
  font-size: 1.8rem;
  font-weight: 700;
}

.order-card__meta p {
  font-size: 1.3rem;
}

.order-card__actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  display: inline-block;
  padding: .8rem .5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
}

.btn--primary {
  background: var(--drk-green);
  color: #fff;
  border: black 2px solid;
}

.btn--secondary {
  background: var(--yellow);
  color: #000000;
    border: black 2px solid;
}

.btn:hover {
    scale: 1.02;
    transform: translateY(-4px);
    box-shadow: 2px 4px 0 black;
    transition: all 0.3s ease;
}

/* ===== How to Use Section ===== */
.confirm__how {
  margin-top: 2rem;
  background-color: var(--drk-green);
  color: #fff;
}

.how-container{
  text-align: left;
  padding: 3rem 6rem;
}

.how__title {
  font-size: 2rem;
  font-family: var(--fisterra);
}

.how__p {
  text-align: left;
  font-size: 1rem;
  margin-top: .4rem;
}

.how__p a {
  color: var(--yellow);
  text-decoration: none;
}

.how__p a:hover {
  text-decoration: underline;
}

/* ===== Bottom CTA ===== */
.cta__row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
  text-align: center;
}

.btn--wide {
    padding: 0.5rem 1.2rem;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.btn-1 {
    background-color: var(--drk-green);
}

.btn--wide:hover {
  opacity: 85%;
}